@import "./utilities/colors.css";
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", "Source Sans 3", sans-serif;
  font-size: 1.6rem;
  background-color: var(--cor-0);
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: var(--cor-11);
}
h1,
h2 {
  text-transform: uppercase;
}
h1 {
  font-size: 10rem;
  line-height: 10rem;
  letter-spacing: 0.016em;
}
h2 {
  font-size: 12rem;
  line-height: 12rem;
  letter-spacing: 0.016em;
  color: var(--cor-9);
}
.projeto-item h3 {
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: 0.016em;
}
.formacao-item h3,
.experiencias-item h3,
.formacao-item span,
.experiencias-item span {
  font-size: 1.2rem;
  line-height: 1.2rem;
  letter-spacing: 0.016em;
  color: var(--cor-7);
}
a {
  text-decoration: none;
  color: var(--cor-12);
  display: inline-block;
}
nav ul a {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: 0.02em;
}
.contato-content ul a {
  font-family: "Source Sans 3", sans-serif;
  font-size: 2.4rem;
  line-height: 2.4rem;
  letter-spacing: 0.016em;
}
span,
p {
  font-family: "Source Sans 3", sans-serif;
}
.intro-content p,
.contato-content p {
  font-size: 2.4rem;
  line-height: 3.2rem;
  letter-spacing: 0.016em;
  color: var(--cor-9);
}
.main-content p,
.formacao ul
/* .footer p,
.footer a  */ {
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.016em;
  color: var(--cor-2);
}

.experiencias-item .descricao-experiencia {
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.016em;
  color: var(--cor-2);
}
.experiencias-item .descricao-experiencia strong {
  color: var(--cor-1);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  /* border-radius: 4px; */
}

/* Navbar */
.header {
  max-width: 116rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0 2rem 0 2rem;
}

.navbar-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 5.1rem;
}

.navbar-btn {
  display: none;
}

/* intro */
.intro {
  max-width: 116rem;
  padding: 6rem 2rem 6rem 2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.5fr 3.5fr;
  justify-content: space-between;
  align-items: center;
}
.img-intro {
  position: relative;
  border-radius: 4px;
  min-width: 300px;
}
.img-intro img {
  width: 300px;
  height: 424px;
  display: block;
  border-radius: 4px;
  background-repeat: no-repeat;
  object-fit: cover;
}
.img-intro::before {
  content: "";
  min-width: 300px;
  height: calc(100% - 8px);
  border: solid 1px var(--cor-p6);
  position: absolute;
  left: -8px;
  top: -8px;
  z-index: -1;
  border-radius: 4px;
}

.intro-content {
  margin-left: 200px;
}

/* main */
.main-bg {
  background-color: var(--cor-11);
  position: relative;
  z-index: 0;
}
.main-content {
  max-width: 116rem;
  margin: 0 auto;
  padding: 6rem 2rem 6rem 2rem;
}

/* main.projetos */

.projetos {
  display: grid;
  grid-template-columns: repeat(3, 30rem);
  gap: 5rem 10rem;
  margin-top: 12rem;
  margin-bottom: 14rem;
  align-items: center;
  justify-content: center;
}

.projeto-item {
  background-color: var(--cor-10);
  padding: 2rem;
  border-radius: 2px;
  position: relative;
  min-height: 438px;
  display: flex;
  flex-direction: column;
}
.projeto-item::before {
  content: "";
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  border: solid 1px var(--cor-p6);
  position: absolute;
  left: -8px;
  top: -8px;
  z-index: -1;
  border-radius: 2px;
}
.projeto-item h3 {
  margin-bottom: 2rem;
}
.projeto-item-img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 2.4rem;
  border-radius: 4px;
}
.item-icons {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 0px;
}
.languages-icons {
  display: flex;
  gap: 1.2rem;
  align-self: center;
  width: 25px;
  border-radius: none;
}
.languages-icons img {
  width: 25px;
}
.links-icons {
  display: flex;
  gap: 1.2rem;
  align-self: center;
  height: 27px;
}
.links-icons a img {
  width: 27px;
}

/*main.formacao*/

.formacao {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  gap: 1.6rem 4rem;
  margin-bottom: 6rem;
}
.formacao .subtitle {
  grid-column: 3;
  grid-row: 1/-1;
  padding: 0;
  margin: 0;
}
.formacao .cursos {
  grid-column: 2;
  grid-row: 1/-1;
}
.cursos ul li {
  margin-bottom: 14px;
}
.formacao-item {
  background-color: var(--cor-10);
  padding: 16px;
  border-radius: 2px;
  width: 100%;
  border-radius: 2px;
}
.formacao-item-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  position: relative;
}
.formacao-item .instituicao {
  padding-top: 24px;
}
.formacao-item-title::before {
  content: "";
  position: absolute;
  height: 16px;
  width: 4px;
  background-color: var(--cor-p5);
  left: -18px;
}

/*main.experiencias*/
.experiencias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 4rem;
  margin-bottom: 6rem;
}
.experiencias .subtitle {
  margin: 0;
  padding: 0;
}
.experiencias-item {
  background-color: var(--cor-10);
  padding: 16px 16px 20px 16px;
  border-radius: 2px;
  width: 100%;
  height: 221px;
  border-radius: 2px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.experiencias-item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  position: relative;
}
.descricao-experiencia {
  margin-top: 20px;
  margin-bottom: 20px;
  flex-grow: 1;
}
.instituicao-experiencia {
  margin-top: auto;
}

.experiencias-item-title::before {
  content: "";
  position: absolute;
  height: 16px;
  width: 4px;
  background-color: var(--cor-p5);
  right: -18px;
}

/* CONTATO */
.contato {
  max-width: 140rem;
  margin: 0 auto;
  margin-top: 12rem;
  margin-bottom: 6rem;
  position: relative;
  display: grid;
  justify-content: center;
  padding: 0 2rem;
}
.contato h1 {
  font-size: 26rem;
  position: absolute;
  z-index: -1;
  top: 20px;
  left: 50px;
  padding: 0;
  margin: 0;
  max-width: 100%;
  letter-spacing: 0em;
}

.contato-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr) minmax(200px, 1fr);
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  max-width: 100%;
  /* gap: ; */
}
.contato-content > p {
  max-width: 360px;
}
.meios-contato ul li,
.redes-contato ul li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2.2rem;
}
.meios-contato ul li:nth-child(2),
.redes-contato ul li:nth-child(2) {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.visible {
  position: fixed;
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--cor-p7);
  z-index: 4;
  bottom: 40px;
  right: 40px;
  border: 0;
  cursor: pointer;
  transform: rotate(-90deg);
  display: block;
  transition: all 0.2s ease-in-out;
}
.visible:hover {
  background-color: var(--cor-p8);
  color: var(--cor-0);
}

.segundo,
.terceiro {
  display: none;
}
@media (max-width: 1400px) {
  .contato {
    margin-top: 6rem;
  }
  .contato h1 {
    position: initial;
    font-size: 15rem;
    justify-self: center;
    margin-bottom: 6rem;
  }
  .main-content {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .contato-content {
    gap: 4rem;
  }
}

@media (max-width: 1200px) {
  .projetos {
    grid-template-columns: repeat(2, minmax(200px, 500px));
    gap: 5rem;
    max-width: 116rem;
    margin-bottom: 6rem;
  }
  .projetos .subtitle {
    justify-self: center;
  }
  .primeiro {
    display: none;
  }
  .segundo {
    display: block;
    font-size: 10rem;
    line-height: 10rem;
    align-self: center;
  }
  .intro-content {
    margin-left: 10rem;
  }
  .intro-content h1 {
    font-size: 8rem;
    line-height: 8rem;
  }
  .formacao {
    grid-template-columns: repeat(2, 1fr);
  }
  .formacao .cursos {
    grid-column: 1/-1;
    grid-row: initial;
  }
  .cursos ul {
    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
  .formacao .subtitle {
    grid-column: 1/3;
    grid-row: 1/-1;
    padding: 0;
    margin: 0;
    margin-bottom: 2rem;
    justify-self: center;
  }

  .experiencias {
    grid-template-columns: repeat(2, 1fr);
  }
  .experiencias .subtitle {
    grid-row: 1;
    grid-column: 1/-1;
    justify-self: center;
  }
  .experiencias-item {
    height: 100%;
  }
  .experiencias-item .descricao-experiencia {
    margin: 2rem 0;
  }
  .experiencias-item .instituicao-estagio {
    position: relative;
    bottom: initial;
  }
}

@media (max-width: 1000px) {
  .intro-content h1 {
    font-size: 6rem;
    line-height: 6rem;
  }
  .contato-content {
    gap: initial;
  }
  .intro-content p,
  .contato-content p,
  .contato-content ul a {
    font-size: 2rem;
    line-height: 3rem;
  }
}

@media (max-width: 800px) {
  .intro {
    grid-template-columns: 1fr;
    max-width: 100%;
    gap: 2rem;
  }
  .img-intro {
    justify-self: center;
  }
  .intro-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 0;
  }
  .navbar-btn {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
    z-index: 10;
  }
  #hamburger::after,
  #hamburger::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  .navbar.active #hamburger {
    border-top-color: transparent;
  }
  .navbar.active #hamburger::before {
    transform: rotate(135deg);
  }
  .navbar.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  .navbar .navbar-menu {
    display: block;
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 5;
    width: 100%;
    background-color: var(--cor-1);
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
    transition: 0.5s;
  }
  .navbar.active .navbar-menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  .navbar-menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    display: block;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }

  .segundo,
  .terceiro,
  .contato h1 {
    font-size: 8rem;
  }
  .contato {
    grid-template-columns: 10rem 1fr;
    justify-content: start;
    align-items: center;
    gap: 6rem;
  }
  .contato h1 {
    writing-mode: vertical-rl;
    justify-self: start;
    rotate: 180deg;
    margin: 0;
  }
  .contato-content {
    grid-template-columns: 1fr;
    margin: initial;
    gap: 2rem;
  }
  .contato-content p,
  .meios-contato,
  .redes-contato {
    justify-self: start;
  }
  .meios-contato ul li:nth-child(2),
  .redes-contato ul li:nth-child(2) {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 700px) {
  .intro-content {
    grid-template-columns: 1fr;
    max-width: 300px;
    margin: 0 auto;
  }
  .main-content {
    max-width: 500px;
  }
  .projetos .segundo {
    display: none;
  }
  .terceiro {
    display: block;
  }
  .projetos {
    grid-template-columns: 1fr;
    margin-top: 2rem;
  }
  .formacao {
    grid-template-columns: minmax(100px, 1fr);
  }
  .formacao .subtitle,
  .experiencias .subtitle {
    grid-column: 1;
  }
  .experiencias {
    grid-template-columns: minmax(100px, 1fr);
  }
  .subtitle {
    font-size: 6rem;
  }
  .meios-contato ul li,
  .redes-contato ul li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }
  ul li img {
    width: 20px;
  }
}

@media (max-width: 550px) {
  .subtitle,
  .intro-content h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
  .contato {
    gap: 2rem;
  }
  .intro-content p,
  .contato-content p,
  .contato-content ul a {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .contato {
    grid-template-columns: minmax(100px, 1fr);
  }
  .contato h1 {
    writing-mode: initial;
    rotate: initial;
    font-size: 5rem;
    line-height: 2rem;
    padding: 0;
    margin: 0;
  }
  .img-intro::before {
    content: "";
    width: 0;
    height: 0;
    border: 0;
  }
}
