@import "./utilities/colors.css";
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", "Source Sans 3", sans-serif;
  font-size: 1.6rem;
  background-color: var(--cor-0);
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: var(--cor-11);
}
h1,
h2 {
  text-transform: uppercase;
}
h1 {
  font-size: 10rem;
  line-height: 10rem;
  letter-spacing: 0.016em;
}
h2 {
  font-size: 12rem;
  line-height: 12rem;
  letter-spacing: 0.016em;
  color: var(--cor-9);
}
.projeto-item h3 {
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: 0.016em;
}
.formacao-item h3,
.experiencias-item h3,
.formacao-item span,
.experiencias-item span {
  font-size: 1.2rem;
  line-height: 1.2rem;
  letter-spacing: 0.016em;
  color: var(--cor-7);
}
a {
  text-decoration: none;
  color: var(--cor-12);
  display: inline-block;
}
nav ul a {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: 0.02em;
}
.contato-content ul a {
  font-family: "Source Sans 3", sans-serif;
  font-size: 2.4rem;
  line-height: 2.4rem;
  letter-spacing: 0.016em;
}
span,
p {
  font-family: "Source Sans 3", sans-serif;
}
.intro-content p,
.contato-content p {
  font-size: 2.4rem;
  line-height: 3.2rem;
  letter-spacing: 0.016em;
  color: var(--cor-9);
}
.main-content p,
.formacao ul
/* .footer p,
.footer a  */ {
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.016em;
  color: var(--cor-2);
}

.experiencias-item .descricao-experiencia {
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 0.016em;
  color: var(--cor-2);
}
.experiencias-item .descricao-experiencia strong {
  color: var(--cor-1);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  border-radius: 4px;
}

/* Navbar */
.header {
  max-width: 116rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0 2rem 0 2rem;
}

.navbar-menu {
  display: flex;
  gap: 5.1rem;
}

/* intro */
.intro {
  max-width: 116rem;
  padding: 6rem 2rem 6rem 2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.5fr 3.5fr;
  justify-content: space-between;
  align-items: center;
}
.img-intro {
  position: relative;
  border-radius: 2px;
  min-width: 300px;
}
.img-intro::before {
  content: "";
  width: 300px;
  height: 424px;
  border: solid 1px var(--cor-p6);
  position: absolute;
  left: -8px;
  top: -8px;
  z-index: -1;
  border-radius: 2px;
}

.intro-content {
  margin-left: 200px;
}

/* main */
.main-bg {
  background-color: var(--cor-11);
  position: relative;
  z-index: 0;
}
.main-content {
  max-width: 116rem;
  margin: 0 auto;
  padding: 6rem 2rem 6rem 2rem;
}

/* main.projetos */

.projetos {
  display: grid;
  grid-template-columns: repeat(3, 30rem);
  gap: 5rem 10rem;
  margin-top: 12rem;
  margin-bottom: 14rem;
  align-items: center;
  justify-content: center;
}

.projeto-item {
  background-color: var(--cor-10);
  padding: 2rem;
  border-radius: 2px;
  position: relative;
}
.projeto-item::before {
  content: "";
  width: 300px;
  height: 438px;
  border: solid 1px var(--cor-p6);
  position: absolute;
  left: -8px;
  top: -8px;
  z-index: -1;
  border-radius: 2px;
}
.projeto-item h3 {
  margin-bottom: 2rem;
}
.projeto-item-img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 2.4rem;
}
.projeto-item p {
  margin-bottom: 4rem;
}
.item-icons {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 0px;
}
.languages-icons {
  display: flex;
  gap: 1.2rem;
  align-self: center;
  width: 25px;
}
.languages-icons img {
  width: 25px;
}
.links-icons {
  display: flex;
  gap: 1.2rem;
  align-self: center;
  height: 27px;
}
.links-icons a img {
  width: 27px;
}

/*main.formacao*/

.formacao {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  gap: 1.6rem 4rem;
  margin-bottom: 6rem;
}
.formacao .subtitle {
  grid-column: 3;
  grid-row: 1/-1;
  padding: 0;
  margin: 0;
}
.formacao .cursos {
  grid-column: 2;
  grid-row: 1/-1;
}
.cursos ul li {
  margin-bottom: 14px;
}
.formacao-item {
  background-color: var(--cor-10);
  padding: 16px;
  border-radius: 2px;
  width: 100%;
  border-radius: 2px;
}
.formacao-item-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  position: relative;
}
.formacao-item .instituicao {
  padding-top: 24px;
}
.formacao-item-title::before {
  content: "";
  position: absolute;
  height: 16px;
  width: 4px;
  background-color: var(--cor-p5);
  left: -18px;
}

/*main.experiencias*/
.experiencias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 4rem;
  margin-bottom: 6rem;
}
.experiencias .subtitle {
  margin: 0;
  padding: 0;
}
.experiencias-item {
  background-color: var(--cor-10);
  padding: 16px 16px 20px 16px;
  border-radius: 2px;
  width: 100%;
  height: 221px;
  border-radius: 2px;
  position: relative;
}
.experiencias-item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  position: relative;
}
.experiencias-item .descricao-experiencia {
  margin-top: 20px;
  margin-bottom: 32px;
}
.experiencias-item .instituicao-estagio {
  position: relative;
  bottom: -20px;
}
.experiencias-item-title::before {
  content: "";
  position: absolute;
  height: 16px;
  width: 4px;
  background-color: var(--cor-p5);
  right: -18px;
}

/* CONTATO */
.contato {
  width: 140rem;
  margin: 0 auto;
  margin-top: 12rem;
  position: relative;
  display: grid;
  justify-content: center;
}
.contato h1 {
  font-size: 26rem;
  position: absolute;
  z-index: -1;
  top: 20px;
  left: 50px;
  padding: 0;
  margin: 0;
  max-width: 100%;
  letter-spacing: 0em;
}
.contato-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  max-width: 116rem;
}
.meios-contato ul li,
.redes-contato ul li {
  display: flex;
  align-items: center;
  gap: 2.2rem;
}
.meios-contato ul::before,
.meios-contato ul li:nth-child(2),
.redes-contato ul li:nth-child(2) {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.visible {
  position: fixed;
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--cor-p7);
  z-index: 4;
  bottom: 40px;
  right: 40px;
  border: 0;
  cursor: pointer;
  transform: rotate(-90deg);
  display: block;
  transition: all 0.2s ease-in-out;
}
.visible:hover {
  background-color: var(--cor-p8);
  color: var(--cor-0);
}
